html {
	margin: 0;
	padding: 0;
	background: #222;
	font-family: Cambria;
	color: #fff;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.button {
	margin: 20px;
	padding: 20px;
	font-size: 20px;
	background: #888;
	border: none;
}

.button:hover {
	background: #BBB;
}

.button:active {
	background: #EEE;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #444;
	border: 10px solid #333;
}