* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	margin: 0;
	padding: 0;
	background: #222;
	font-family: Cambria;
	color: #fff;
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.button {
	margin: 20px;
	padding: 20px;
	font-size: 20px;
	background: #888;
	border: none;
}

.button:hover {
	background: #BBB;
}

.button:active {
	background: #EEE;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #444;
	border: 20px solid #333;
}

.character {
	transition: filter 0.3s ease;
}

.character:hover, .character:active {
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
	transition: filter 0.3s ease;
}